<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demo Tema 1</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h3>Selecteaza tabelul:</h3>
<ul>
    <li><a href="http://localhost:8092/clinic/patients" class="btn btn-link">Pacienti</a></li>
    <li><a href="http://localhost:8092/clinic/doctors" class="btn btn-link">Doctori</a></li>
    <li><a href="http://localhost:8092/clinic/appointments" class="btn btn-link">Programari</a></li>
</ul>
</body>
</html>